@import "./component/footer.module.css";

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carouselImage img {
  height: 100%;
  width: 100%;
  /* opacity: 0;  */
  /* transition: opacity 500ms ease 0s, visibility 500ms ease 0s; */
  transition: all 0.2s ease-in-out;
}

.carouselImage--exit {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease 0s, visibility 500ms ease 0s;
}

.carouselText {
  position: absolute;
  bottom: 48px;
  color: white;
}

.content-akses {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 90px 0 56px;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .content-akses {
    flex-direction: row;
  }
}

.content-akses > h2 {
  font-size: 28px;
  max-width: 390px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.left-content {
  max-width: 390px;
  width: 100%;
}

.left-content p {
  padding-top: 12px;
  font-size: 1.125rem;
  line-height: 28px;
  color: var(--gray);
  font-weight: 100;
}

.left-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.content-akses > ul {
  gap: 40px;
}

.content-akses > ul > li {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.content-akses > ul > li > div:hover {
  background-color: beige;
  transition-duration: 300ms;
}

.section-mudah {
  background-image: url("https://web-xlrvmnpr.s3.ap-southeast-1.amazonaws.com/images/post/575d4393-3794-4821-9291-761ea28ef7cb.jpg");
  background-size: cover;
}

.content-mudah {
  display: flex;
  gap: 28px;
  position: relative;
  overflow: hidden;
}

.mudah-card {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  display: block;
}

.mudah-card > nav {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  z-index: 0;
}

.content-rdeals {
  display: flex;
  gap: 28px;
  position: relative;
  overflow: hidden;
}

.rdeals-card {
  border-radius: 20px;
  overflow: hidden;
  background-color: #002dbb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("https://www.xl.co.id/_next/static/images/BgProduct-53646c32ce3b2d73905d33a57571edc5.png");
  width: 391px;
}

.rdeals-card-detail {
  color: white;
  padding: 20px;
  display: block;
}

.rdeals-card > img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
}

.section-gterpopuler {
  background-image: url("https://web-xlrvmnpr.s3.ap-southeast-1.amazonaws.com/images/post/d2b19e84-3d76-476d-a33f-8fdd6aaf728b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-gterpopuler {
  display: flex;
  align-items: center;
  gap: 28px;
  position: relative;
  overflow: hidden;
}

.games-card {
  overflow: hidden;
}

.games-card > img {
  width: 100%;
  border-radius: 16px;
  height: 262px;
  width: 197px;
}

.games-card > p {
  color: white;
  font-size: 20px;
  padding-top: 8px;
}

.section-pelajari {
  background-image: url("https://www.xl.co.id/_next/static/images/img_bg-download-apps-d45d562fee1e42a8a8e77f06013e6653.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  display: block;
}

.content-pelajari {
  display: flex;
  justify-content: space-between;
}

.content-pelajari img {
  width: 50%;
  align-content: end;
}
