@import url("https://fonts.cdnfonts.com/css/museo-sans-rounded");
@import "./home.css";

:root {
  --primary: #002dbb;
  --secondary: #A98F97;
  --gray: #68788a;
  --light-green: #00d2a0;
  --pink: #EE3D96;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans", sans-serif;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #ffff;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.05);
}

.fw-bold {
  font-weight: 700;
  color: #000 !important;
}

.secNav ul li a, .firstNav .container ul li a {
  color: #000 !important;
}

h1,
h2,
h3 {
  all: unset;
}

h2 {
  font-weight: 600;
  font-size: 36px;
}

h4 {
  font-size: 20px;

}

h6 {
  text-align: center;
  font-size: 24px;
  font-weight: 5;
  line-height: 32px;
  color: #333333;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
}


button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 300ms;

}

button:hover {
  /* filter: drop-shadow(0 10px 15px rgb(0 0 0 / 0.3)); */
  box-shadow: 0 20px 30px -6px #336dcd1a, 0 0 1px 0 #336dcd33;
  transform: translateY(-3px);
}

section {
  padding: 48px 0;
}

.floatChat {
  position: fixed;
  z-index: 50;
  right: 32px;
  bottom: 16px;
  cursor: pointer;
}

.secButton {
  background-color: white;
  color: var(--primary);
  padding: 12px 24px;
  border-radius: 28px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.primButton {
  background-color: var(--primary);
  color: white;
  width: 100%;
  border-radius: 28px;
  padding: 12px 16px;
}

.container {
  margin: auto 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-custom {
  margin: auto 12px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-custom {
    margin: auto 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-custom {
    max-width: 1280px;
    margin: auto;
  }

  .card-container {
    overflow-x: auto;
    width: 1440px;
  }
}

@media only screen and (max-width: 1200px) {
  .section-benefit .container .row {
    flex-wrap: wrap;
  }
}

.slider-r-deals {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.slider-r-deals::-webkit-scrollbar {
  display: none;
}

.section-benefit {
  background-color: #F5F6FC;
}

.section-benefit .container .row {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 66px;
  gap: 30px;
  width: 90%;
}

.section-benefit .container .row .col p {
  color: #808080;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section-benefit .container .row .col iframe {
  border-radius: 16px;
}

.section-benefit .container-custom h2 {
  margin-bottom: 40px;
}

.package-xtra {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

}

.section-benefit .container-custom .package-xtra div {
  padding: 10px;
  flex: 1;
}

.section-benefit .container-custom .package-xtra div img {
  margin-bottom: 18px;
}

.section-benefit .container-custom .package-xtra div p {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.section-paket-internet .container-custom button {
  background-color: var(--primary);
  padding: 15px 23px;
  border-radius: 40px;
  border: none;
  color: #ffff;
  margin-bottom: 100px;
  display: flex;
}
.section-paket-internet .container-custom .row {
  display: flex;
}

.section-paket-internet .container-custom p {
  margin-top: 18px;
  color: var(--secondary);
  margin-bottom: 32px;
  line-height: 24px;
  color: #999999;
}

.section-paket-internet .container-custom .row .col span a {
  color: var(--primary);
  font-size: 14px;
}

.section-paket-internet .container-custom .row .col input {
  border: 2px solid #e5e5e5;
  color: var(--secondary);
  border-radius: 14px;
  padding: 15px 12px;
  color: #b3b3b3;
  width: 100%;
  font-size: 18px;
  color: #b3b3b3;
  opacity: 90%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 10px;

}

.card-container .card {
  width: calc(25% - 26px);
  box-sizing: border-box;
  transition: 300ms;
  padding: 20px 16px;
  margin-top: 82px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(51, 109, 205, 0.1), 0px 5px 8px -2px rgba(51, 109, 205, 0.1);
  border-radius: 12px;
}

.card-container .card:hover {
  transform: translateY(-3px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(51, 109, 205, 0.1), 0px 20px 30px -6px rgba(51, 109, 205, 0.1);
}

.card-container .card .list-kuota {
  margin: 6px 0px !important;
}

.card-container .card .list-kuota .text-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card-container .card .list-kuota .text-list p {
  margin-bottom: 0px;
}

.card-container .card .card-footer {
  text-align: end;
}

.section-olshop {
  width: 100%;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(-116.18%,#efefef),color-stop(35.25%,rgba(223,230,243,0)));
  background: -webkit-linear-gradient(top,#efefef -116.18%,rgba(223,230,243,0) 35.25%);
  background: linear-gradient(180deg,#efefef -116.18%,rgba(223,230,243,0) 35.25%);
  padding: 50px 0;
  text-align: center;
}

.accordion-container {
  width: 100%;
  margin: 0 auto;
  
}

.accordion {
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 45, 187, 0.15);
  padding-left: 18px;
  padding-top: 20px;
}

.accordion-header {
  background-color: #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

.accordion-body {
  padding: 10px;
  display: none;
  border-radius: 20px;
}

.section-pulau .container-custom .row {
  display: flex;
  justify-content: space-between;
}
.section-pulau .container-custom .row .col:first-child {
  flex: 1;
  padding-top: 80px;

}

.section-pulau .container-custom .row .col:last-child {
  flex: 2;
}
